#{extends 'main.html' /}
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">The Facepalm</a>


                <a class="btn btn-primary facepalm-installation-block" href="@{Application.download()}">Download user script</a>

             <ul class="nav pull-right">

            #{if _name}
                <li><div class="thumbnail2">
                    <img style="padding-top:7px" width="25px" height="25px" src="${_littlePic}">
                </div></li>
                <li><a href="#">${_name}</a></li>
            #{/if}


                <li id="fat-menu" class="dropdown">
                    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Menu<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    #{if _name}
                        <li><a tabindex="-1" href="@{Application.logout()}">Logout</a></li>
                    #{/if}
                    #{else}
                        <li><a tabindex="-1" href="@{Application.login()}">Login</a></li>
                    #{/else}

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<br/><br/>
<br/>

