#{extends 'main.html' /}
#{set title:'Home' /}

<h2>This is mini login to facebook</h2>
<div id="fb_login"> <fb:login-button onlogin="facebookLogin();"></fb:login-button> </div>

<script type="text/javascript">
   			 function facebookLogin() {      		  
       			 FB.getLoginStatus(function(response) {       				
           			 if (response.status === 'connected') {
           				 console.log("resp status=connected");
             		    // the user is logged in and connected to your app
                        addCounter(${sUrl},${iUrl});
                       window.close();

         		   } else {
                	   window.location = "@{Application.facebookLogout()}";
            		}
         	     });
    	     }

                var addCounter = function(sUrl,iUrl) {
                    var userAction = #{jsAction @Application.like(':siteUrl',":imageUrl") /}
                    $.post.( userAction({siteUrl: sUrl,imageUrl:iUrl}));
                }
</script>

