#{extends 'main.html' /}
#{set title:'Facepalm - share web with one click' /}

#{set 'moreStyles'}
    #{stylesheet 'miniLogin.css' /}
#{/set}
#{navSimple /}


<div style="padding-left: 30px;">
    <h3 style="text-align: center">Please login</h3>
    <div id="fb_login" style="text-align: center;padding-top: 50px;">
        <fb:login-button size="xlarge" scope="email,publish_stream,user_photos" onlogin="facebookLogin();"></fb:login-button>
    </div>
</div>

<script type="text/javascript">
   			 function facebookLogin() {      		  
       			 FB.getLoginStatus(function(response) {       				
           			 if (response.status === 'connected') {
           				 console.log("resp status=connected");
             		    // the user is logged in and connected to your app
                        addCounter(encodeURIComponent("${siteUrl}"),encodeURIComponent("${imageUrl}"));

         		   } else {
                	   window.location = "@{Application.facebookLogout()}";
            		}
         	     });
    	     }

                var addCounter = function(sUrl,iUrl) {
                    var userAction = #{jsAction @Application.like(':siteUrl',":imageUrl") /}

                    var url = userAction({siteUrl: sUrl,imageUrl:iUrl});
                    $.ajax({
                        url: url,
                        type: 'POST',
                        dataType: "json",
                        success: function(data, status) {
                            window.close();
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            if (jqXHR.status==403){
                                window.close();
                            }
                        }
                    });

                }
</script>

