#{extends 'main.html' /}
#{set title:'Home' /}

#{nav name:"${user.firstName} ${user.secondName}", actionLink: '@{Application.logout()}'  /}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">

            <div class="thumbnail">
                <img src="${user.pictureUrl}" />
            </div>
            <div>
                <b>${user.firstName} ${user.secondName}</b>
            </div>

        </div>
        <div class="span10">
            <h3>Like stream</h3>

          <div class="row-fluid">

        #{list items:imageWithCounterSet, as:'pr'}

            <div class="thumbnail">
                <div class="row-fluid">
                    <div class="span2">
                        <div class="thumbnail2">
                            <img src="${pr.imageEntity.getImageUrl()}">
                        </div>
                    </div>
                    <div class="span5">
                        <a href="${pr.imageEntity.getImageUrl()}" class="Title">${pr.imageEntity.getSiteUrl()}</a>
                        <p>
                          <div> <i class="icon-heart"></i> ${pr.counter}</div>
                           <div><b>Was aded </b>  ${pr.imageEntity.date.toString()}</div>
                        </p>

                    </div>

                </div>
            </div>

            <div>
               <p>

               </p>
            </div>

        #{/list}
              </div>
        </div>
    </div>
</div>





