#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            Your name =${user.firstName}
            <br/>
            Your id   =${user.appUserId}
            <br/>
            <img src="${user.pictureUrl}" />
        </div>
        <div class="span10">
            <h2>See your like streem</h2>




        #{list items:imageWithCounterSet, as:'pr'}


            ${pr.counter}
            ${pr.imageEntity.getImageUrl()}
        #{/list}
        </div>
    </div>
</div>





